@use '../../../styling/variables' as *;

.credit-period-group {
  margin-bottom: $space-6;
  background-color: transparent;
}

.period-title {
  font-size: $font-sm;
  font-weight: $font-semibold;
  margin: 0 0 $space-3 0;
}

.period-bar {
  display: grid;
  grid-auto-flow: column;
  grid-auto-columns: 1fr;
  gap: $space-1;
  margin-bottom: $space-3;
}

.period-cell {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: $space-1;
  border: $border-full solid $neutral-light-gray;
  border-radius: $radius-md;
  padding: $space-1;
  text-align: center;
  font-size: $font-xxs;
  color: $neutral-dark-gray;
  background-color: $neutral-white;
  font-weight: $font-semibold;
  text-transform: uppercase;
}

.period-cell.past {
  color: $neutral-medium-gray;
  border-color: $neutral-light-gray;
  opacity: 0.75;
}

.period-cell.active {
  border-color: $primary-medium;
  background-color: $primary-lightest;
  color: $primary-dark;
  opacity: 1;
}

.period-cell.current::before {
  content: '';
  display: inline-block;
  width: 5px;
  height: 5px;
  border-radius: $radius-full;
  background-color: currentColor;
}