@use '../../styling/globals' as *;

.preferences-module {
  // Card visuals now supplied by ContentContainer `framed` variant
  padding: $space-2 0;


  .preferences-content {
    position: relative;
    display: grid;
    gap: $space-8;

    .preferences-textarea.loading,
    .chat-history-select.loading,
    .show-completed-select.loading,
    .chat-mode-select.loading {
      opacity: 0.6;
      cursor: not-allowed;
    }

    .preferences-textarea:disabled,
    .chat-history-select:disabled,
    .show-completed-select:disabled,
    .chat-mode-select:disabled {
      background-color: $neutral-light-gray;
      color: $neutral-medium-gray;
    }

    .preference-field {
      display: flex;
      flex-direction: column;
      gap: $space-1;
      margin-bottom: $space-4;

      .preference-description {
        font-size: $font-xs;
        color: $neutral-medium-gray;
        margin: 0;
        margin-top: $space-half;
        font-style: italic;
      }
    }

    .special-instructions-field {
      .character-counter {
        font-size: $font-xs;
        color: $neutral-medium-gray;
        text-align: right;
        margin-top: $space-1;

        &.warning {
          color: $warning-yellow;
        }

        &.error {
          color: $error;
          font-weight: $font-medium;
        }
      }
    }

    .save-button {
      width: fit-content;
    }
  }
}
