@use '../../styling/variables' as *;

.credits-display {
  background-color: $neutral-lightest-gray;
  padding: $space-5;
  
  // Center the content area
  width: 100%;
  margin-left: auto;
  margin-right: auto;
  
  @media (max-width: $mobile-breakpoint) {
    padding: $space-2;
  }
}