@use '../../styling/variables' as *;

.credits-display {
  padding: $space-5;
  
  // Center the content area
  width: 100%;
  margin-left: auto;
  margin-right: auto;
  
  @media (max-width: $mobile-breakpoint) {
    padding: $space-3 $space-4;
  }
}