@use '../../../styling/variables' as *;

.year-dropdown {
  // Override default-select to be compact - must use !important to override width: 100%
  width: auto !important;
  min-width: unset !important;
  max-width: fit-content !important;
  flex: 0 0 auto !important;
  padding: $space-2 $space-6 $space-2 $space-2;
  font-family: $font-manrope;
  font-size: $font-sm;
  font-weight: $font-semibold;
  background-position: right $space-1 center;
}
