@use '../../../styling/variables' as *;
@use '../../../styling/mixins' as *;

.credit-list {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(320px, 500px));
  gap: $space-3;
  justify-content: start;
  align-items: stretch;
}

