@use '../../../styling/globals' as *;

.show-more-button {
  display: flex;
  justify-content: center;
  padding: $space-1 0;
  max-width: 400px;
  width: 100%;

  .button {
    padding: $space-1 $space-2;

    @media (max-width: $mobile-breakpoint) {
      padding: $space-2 $space-3;
    }
  }
}
