@use '../../styling/variables' as *;

.multiplier-type-badge {
  display: inline-flex;
  align-items: center;
  gap: $space-1;
  padding: $space-half $space-2;
  margin-bottom: $space-1;
  border-radius: $radius-full;
  font-size: $font-xxs;
  font-weight: $font-semibold;
  line-height: 1;
  white-space: nowrap;
  border: $border-full solid $neutral-gray;
  background-color: $neutral-white;
  color: $primary-color;
}
