@use '../../../styling/globals' as *;

.chat-component-block {
  display: flex;
  flex-direction: column;
  gap: $space-2;
  max-width: 400px;
  width: 100%;
  margin-top: $space-2;

  .component-list {
    display: flex;
    flex-direction: column;
    gap: $space-2;
  }
}
