@use '../../styling/globals' as *;

.modal-overlay {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: rgba(0, 0, 0, 0.5);
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 1000;
    padding: $space-4;
    box-sizing: border-box;
    /* Modal content box */
    .modal-content {
      background: $neutral-white;
      border-radius: $radius-lg;
      box-shadow: $shadow-xl;
      max-width: 600px;
      width: 100%;
      max-height: 90vh;
      position: relative;
      display: flex;
      flex-direction: column;

      &.full-width {
        max-width: 90vw;
        width: 90%;
      }

      /* Close button for the modal */
      .close-btn {
        position: absolute;
        top: $space-4;
        right: $space-4;
        background: none;
        border: none;
        font-size: $font-h5;
        cursor: pointer;
        padding: $space-1;
        border-radius: $radius-base;
        color: $neutral-dark-gray;
        z-index: 1;
        
        @include hover {
          background-color: $neutral-light-gray;
          color: $neutral-black;
        }
      }
      /* Content wrapper to enable scrolling */
      .modal-scroll-content {
        padding: $space-6;
        overflow-y: auto;
        flex: 1;
      }
    }
  }

// Help modal specific styles
.help-modal-content {
  h2 {
    @include heading-2;
    margin-bottom: $space-6;
    color: $primary-color;
    border-bottom: $border-full solid $neutral-gray;
    padding-bottom: $space-3;
  }

  section {
    margin-bottom: $space-6;

    h3 {
      @include heading-4;
      margin-bottom: $space-3;
      color: $neutral-black;
    }

    p {
      @include body-regular;
      margin-bottom: $space-3;
      color: $neutral-dark-gray;
      line-height: $leading-relaxed;
    }

    ul {
      margin-left: $space-5;
      margin-bottom: $space-3;

      li {
        @include body-regular;
        margin-bottom: $space-2;
        color: $neutral-dark-gray;
        line-height: $leading-relaxed;

        strong {
          color: $neutral-black;
          font-weight: $font-semibold;
        }
      }
    }
  }

  // Last section doesn't need bottom margin
  section:last-child {
    margin-bottom: 0;
  }
}