@use '../../../../../styling/variables' as *;

// Modal/Drawer Content Styles
.credit-detail-content {
  display: flex;
  flex-direction: column;
  gap: $space-3;
  padding: $space-1-5 $space-3 $space-3;
}
