.solutions-container {
  padding: 8px 0;

  h2 {
    margin: 0;
    margin-bottom: 2px;
    font-size: 0.75em;
    text-transform: uppercase;
    color: #6a6a6a;
  }

  .solution-cards {
    display: block;

    .solution-card {
      border: 1px solid #a0a0a0;
      border-radius: 2px;
      padding: 4px;
      margin-bottom: 1px;

      h3 {
        margin: 0;
        font-size: 0.95em;
      }

      .card-details {
        p {
          margin: 0;
          font-size: 0.8em;
        }
      }
    }
  }
}