.app-header {
    width: 100%;
    background-color: #eeeeee;
    display: flex;
    padding: 8px 16px;

    a {
        text-decoration: none;
    }

    h1 {
        margin: 0;
        margin-right: 12px;
    }
}