@use './styling/globals' as *;
@use './components/UniversalContentWrapper/UniversalContentWrapper';

// Root element styles
#root {
  height: 100%;
}

// App-specific layout styles
.app {
  display: flex;
  flex-direction: column;
  height: 100vh;
  max-height: 100vh;
}